<!DOCTYPE html>
<html>

<head>
    <link rel = "stylesheet" href = "style.css" />
    <title>Amazon 101</title>
</head>

<body>
        <div class = "grid-container">
        <header class= "header">
        <div class = "brand">
            <a href = "index.html">amazon 101</a>
        </div>
        <div class = "header-links">
            <a href = "cart.html">Cart</a>
            <a href = "signin.html">Sign In</a>
        </div>
    </header>
        <main class = "main">
            <div class = "content">
                <ul class = "products">
                    <li>
                        <div class = "product">
                            <img src = "/images/b1.jpg" alt = "product" />
                            <div class = "product-name">Slim Work Backpack</div>
                            <div class = "product-brand">Briggs & Riley</div>
                            <div class = "price">$315</div>
                        </div>
                    </li>
                    
                </ul>
            </div>
            
        </main>
        <footer class = "footer">All rights reserved.</footer>
    </div>
    
</body>
</html>